@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

/* base styles & title */

html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Serif";
  color: $secondary;
}
